@media screen and (max-width: 840px){
    .menu{
        display: inline-block;
        margin: 10px 60px;
    }
    .nav-list{
        position: relative;
        /* width: 100%; */
    }
    .nav-list-items{
        /* display: none; */
        position: absolute;
        right: 0%;
        top: 100%;
        flex-direction: column;
        transition: 1s;
    }

}

@media screen and (max-width:700px){
    #home{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120dvh;
    }   
    .home_des{
        font-size: 30px;
    }
    .social{
        margin: 20px 0;
        font-size: 20px;
    }


    .about-info{
        flex-direction: column;
    }
}

@media screen and (max-width:460px) {
    .logo
    {
        font-size: 20px;
    }
}