@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
:root{
  --normal-text: Caveat;
  --title-text: Permanent Marker;
  --font-color: aqua;
  --border-color-about:rgb(69, 253, 210);

}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
    background-color:  #081b29;
}
/* =============================================== COMMON START ====================================== */
section{
    padding-top: 70px;
}
  

.title{
    color: var(--font-color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--title-text);
}


.social{
    color: var(--font-color);
    font-size: 30px;
    padding: 10px 12px; 
    border: 3px solid var(--font-color);
    border-radius: 50%;
    transition: 0.4s;
}
.social:hover{
    color: #081b29;
    background-color: var(--font-color);
}

/* ============================================== Navbar =============================================== */
.nav{
    z-index: 5;
    padding: 0 10px;
    background-color: rgba(255, 255, 255,0.2);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

/* .nav-list{
    width: 80%;
} */

.nav-list-items{
    display: flex;
}

.nav-list > ul > li{
    list-style: none;
}

.nav-list > ul > li > a{
    margin: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--title-text);
}

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 650;
    font-size: 30px;
    color: var(--font-color);
}


.menu{
    padding: 10px 14px;
    border: none;
    display: none;

}
/* =========================================== Home ================================================== */
#home{
    width: 100%;
    height: 100dvh;
    display: flex;
    
}

.home_img, .home_des{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 10%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
/* .home_des{
    background-color: red;
}
.home_img{
    background-color: aqua;
} */

.home_des{
    font-size: 50px;
    font-family: var(--normal-text);
    font-weight: 600;
    color: var(--font-color);
}

.home_des>div{
    width: fit-content;
}

.home_des > div > .home_des_des{
    border-right: 4px solid var(--border-color-about);
    width: fit-content;
    animation: textanim 4s linear infinite;
    overflow: hidden;
    color: var(--border-color-about);
} 
@keyframes textanim{
    0%{
        width: 0%;
    }
    20%{
        width: calc(100% + 20px);
    }
    80%{
        width: calc(100% + 20px);
    }
    100%{
        width: 0%;
    }
}
/* ============================================== About ==================================== */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info > div{
    width: 50%;
}

.about-dis, .about-img{
    padding: 5%;
}
.about-img-content{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    box-shadow: 12px 0 15px -4px var(--border-color-about), -12px 0 10px -4px var(--border-color-about);
    height: 300px;
    position: relative;
}

.about_img_border{
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;    
    border-left: 5px solid var(--border-color-about);
    border-right: 5px solid var(--border-color-about);
    animation: aboutimg 3s linear infinite;
    z-index: 1;
}
@keyframes aboutimg{
    100%{
        transform: rotate(360deg);
    }
}

.about-img > div > img{
    position: absolute;
    width: 250px;
    height: 300px;
}

.about-dis{
    color: var(--font-color);
    font-family: var(--normal-text);
    font-size: 28px;
    text-align: center;
}

.about-dis button{
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--border-color-about);
    color: #081b29;
    font-size: 20px;
    font-family: var(--normal-text);
    font-weight: 600;
    border: none;
    transition: .3s;
}

.about-dis button:hover{
    color: var(--border-color-about);
    background-color: #081b29;
}

.about-topic{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.about-topic .about-topic-box{
    width: 450px;
    height: 350px;
    border: 5px solid var(--border-color-about);
    box-sizing: 0 0 10px white;
    border-radius: 20px;
    margin: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-topic-cont{
    width: 100%;
    height: 80%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.about-topic-cont > span{
    font-size: 22px;
    font-family: var(--normal-text);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color);
    padding: 5%;
}

.about-topic-cont > span > img{
    width: 50px;
    height: 50px;
}

.about-topic-cont > span > i{
    font-size: 33px;
}

.about-topic-title{
    font-size: 25px;
    font-family: var(--normal-text);
    font-weight: 600;
    color: var(--font-color);
    margin: 10px 0;
}

/* ============================================== Services ==================================== */
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.services > .sub-title{
    margin: 5% 0%;
    font-size: 30px;
    font-family: var(--normal-text);
    color: var(--font-color);
    font-weight: 500;
}

.services_des{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services_des_box{
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background: rgb(15,12,67);
background: radial-gradient(circle, rgba(15,12,67,1) 0%, rgba(20,15,32,1) 100%);
    text-align: center;
}

.services_des_box > span{
    font-family: var(--normal-text);
    font-size: 30px;
    font-weight: 500;
    color: var(--font-color);
}

.services_des_box >  a{
    text-decoration: none;
    color: var(--border-color-about);

}

/* ============================================= Contect ============================== */