@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
:root{
  --normal-text: Caveat;
  --title-text: Permanent Marker;
  --font-color: white;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
    background-color: rgb(44, 0, 77);
}
/* =============================================== COMMON START ====================================== */
section{
    padding-top: 70px;
}
  

.title{
    color: var(--font-color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--title-text);
}
/* ============================================== Navbar =============================================== */
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

/* .nav-list{
    width: 80%;
} */

.nav-list-items{
    display: flex;
}

.nav-list > ul > li{
    list-style: none;
}

.nav-list > ul > li > a{
    margin: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--title-text);
}

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 650;
    font-size: 30px;
    color: var(--font-color);
}


.menu{
    padding: 10px 14px;
    border: none;
    display: none;

}
/* =========================================== Home ================================================== */
#home{
    width: 100%;
    height: 100dvh;
    display: flex;
}

.home_img, .home_des{
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 10%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
/* .home_des{
    background-color: red;
}
.home_img{
    background-color: aqua;
} */

.home_des{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--font-color);
}

.home_des>div{
    width: fit-content;
}

.home_des > div > .home_des_des{
    border-right: 4px solid var(--font-color);
    width: fit-content;
    animation: textanim 4s linear infinite;
    overflow: hidden;
} 
@keyframes textanim{
    0%{
        width: 0%;
    }
    20%{
        width: calc(100% + 20px);
    }
    80%{
        width: calc(100% + 20px);
    }
    100%{
        width: 0%;
    }
}
/* ============================================== About ==================================== */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info > div{
    width: 50%;
}

.about-dis{
    padding: 0% 10%;
}


/* ============================================== Responsice End ==================================== */